@import "styles/mixins";
@import "styles/variables";

.prezly-slate-bookmark {
    margin: $block-spacing-vertical 0;
    color: $color-text;
    border: 1px solid $color-grey-250;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow;
    overflow: hidden;
    display: flex;
    justify-content: stretch;

    &__details {
        padding: (2.5 * $spacing-base) (3 * $spacing-base);
        flex-grow: 1;
    }

    &__thumbnail {
        background-position: center center;
        background-size: cover;
        flex-grow: 0;
    }

    &__thumbnail-image {
        opacity: 0;
    }

    &__title {
        font-weight: 800;
        line-height: 1.6;
        margin: 0 0 $spacing-base 0;

        color: $color-text;

        @include multi-line-ellipsis(2);

        &,
        &:hover {
            text-decoration: none;
        }

        &:hover {
            color: rgba($color-text, 0.8);
        }
    }

    &__description {
        color: $color-text-2;
        margin: $spacing-base 0;
        line-height: 1.4;

        @include multi-line-ellipsis(2);
    }

    &__provider {
        display: flex;
        align-items: center;
        color: $color-text;
        font-weight: 600;

        &:first-child {
            margin-top: 0;
        }

        &,
        &:hover {
            text-decoration: none;
        }

        &:hover {
            color: rgba($color-text, 0.8);
        }
    }

    &__provider-icon {
        width: $spacing-base * 2;
        height: $spacing-base * 2;
        margin-right: $spacing-base;
    }

    &__provider-name {
        flex-grow: 1;
    }

    @mixin vertical-layout() {
        flex-flow: column;

        .prezly-slate-bookmark__thumbnail {
            padding-bottom: 50%; // aspect-ratio: 2:1
            height: 0;
            position: relative;
            min-height: initial;
            min-width: 100%;
            max-height: initial;
            background-size: cover;
        }
        .prezly-slate-bookmark__thumbnail-image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .prezly-slate-bookmark__title {
            font-size: 22px;
        }
        .prezly-slate-bookmark__description {
            font-size: $font-size-m;
        }
        .prezly-slate-bookmark__provider {
            margin-top: 13px;
        }
    }

    @mixin horizontal-layout() {
        flex-flow: row;

        .prezly-slate-bookmark__thumbnail {
            min-width: 180px;
            min-height: 180px;
            max-width: 180px;
        }
        .prezly-slate-bookmark__thumbnail-image {
            width: 100%;
            height: 100%;
        }
        .prezly-slate-bookmark__title {
            font-size: $font-size-l;
        }
        .prezly-slate-bookmark__description {
            font-size: $font-size-s;
        }
        .prezly-slate-bookmark__provider {
            margin-top: 16px;
        }
    }

    &--vertical {
        @include vertical-layout();
    }
    &--horizontal {
        @include horizontal-layout();

        @media (max-width: $screen-xs-max) {
            @include vertical-layout();
        }
    }
}
