# IDE
.idea/
.vscode
.yalc/
.history

# Build artifacts
build/
*.tsbuildinfo

# Dependencies
node_modules/
.pnpm-store/
# Ignoring package-lock should make the dependencies installed on CI and on fresh environments match what the package consumers would have installed.
# See https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514 for context.
package-lock.json
pnpm-lock.yaml

# Tests
/coverage
storybook-static
.loki/current
.loki/difference
.loki/.gitignore
