@import "styles/variables.scss";

.prezly-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    &--withBorders {
        .prezly-table-row,
        .prezly-table-cell {
            border: 1px solid $color-grey-300;
        }
    }
}

.prezly-table-row {
    color: $color-grey-700;
    font-size: $font-size-s;
}

.prezly-table-cell {
    min-width: 40px;
    min-height: 40px;
    padding: $spacing-1-5;
    outline: none !important;

    > p {
        margin: 0;
    }

    &--header {
        background: $color-grey-150;

        > p {
            font-weight: 600;
        }
    }
}
