@import "styles/variables";

.prezly-slate-table-container {
    width: 100%;
    overflow-x: auto;
}

.prezly-slate-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    &--withFixedColumns {
        width: initial;
        table-layout: fixed;
        overflow-y: auto;
    }
}

.prezly-slate-table-row {
    color: $color-grey-700;
    font-size: $font-size-s;
    border: 1px solid $color-grey-300;
}

.prezly-slate-table-cell {
    min-width: 40px;
    min-height: 40px;
    padding: $spacing-1-5;
    outline: none !important;
    text-align: left;
    vertical-align: middle;
    word-break: keep-all;
    border: 1px solid $color-grey-300;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    &--header {
        background: $color-grey-150;

        > p {
            font-weight: 600;
        }
    }
}
