@import "styles/mixins";
@import "styles/variables";

.prezly-slate-social-fields {
    margin: 0;
    padding: 0;

    &--card {
        display: flex;
        gap: $spacing-3;

        & + & {
            margin-top: $spacing-1;
        }

        @include mobile-down {
            flex-direction: column;
            gap: $spacing-2;

            & + & {
                margin-top: $spacing-2;
            }
        }
    }

    &--signature {
        display: flex;
        flex-direction: column;
        gap: $spacing-1;

        & + & {
            margin-top: $spacing-2;
        }

        &.prezly-slate-social-fields--icons {
            flex-direction: row;
            gap: $spacing-2;
        }
    }
}
