@import "styles/mixins";
@import "styles/variables";

.prezly-slate-video {
    margin: $block-spacing-vertical 0;
    position: relative;
    white-space: normal;

    &__thumbnail,
    &__html {
        position: relative;

        &--contained {
            margin-left: auto;
            margin-right: auto;

            .prezly-slate-image__link,
            .prezly-slate-image__media,
            video,
            img {
                width: 100%;
            }
        }

        &--expanded {
            @include media-layout-expanded;

            .prezly-slate-image__link,
            .prezly-slate-image__media,
            video,
            img {
                width: 100%;
            }
        }

        &--full-width {
            @include media-layout-full-width;

            .prezly-slate-image__link,
            .prezly-slate-image__media,
            video,
            img {
                width: 100%;
            }
        }

        > div {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__thumbnail-image {
        inset: 0;
        object-fit: cover;
        width: 100%;
    }

    &__thumbnail-placeholder {
        max-width: 100%;
        height: 0;
        background: $color-grey-900;
        padding-bottom: 56%; // 16:9
        opacity: 0.24;

        &--contained {
            margin-left: auto;
            margin-right: auto;

            @include tablet-landscape-down {
                max-width: 100%;
            }
        }

        &--expanded {
            @include media-layout-expanded;

            .prezly-slate-image__link,
            .prezly-slate-image__media,
            video,
            img {
                width: 100%;
            }
        }

        &--full-width {
            @include media-layout-full-width;

            .prezly-slate-image__link,
            .prezly-slate-image__media,
            video,
            img {
                width: 100%;
            }
        }
    }

    &__play-button-overlay {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__play-button-icon {
        width: 80px;
        height: 80px;
    }
}
