@import "styles/mixins.scss";
@import "styles/variables.scss";

.prezly-slate-video {
    position: relative;
    white-space: normal;

    &__thumbnail {
        height: 0;
        position: relative;
    }

    &__thumbnail-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
    }

    &__thumbnail-placeholder {
        max-width: 100%;
        height: 0;
        background: $color-grey-500;
        padding-bottom: 56%; // 16:9
        opacity: 0.24;
    }

    &__play-button-overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__play-button-icon {
        width: 80px;
        height: 80px;
    }
}
