@import "styles/variables.scss";

.prezly-slate-list {
    margin: $spacing-2 0;
    padding: 0;
    padding-left: $spacing-4;
    color: $color-text;
    font-size: $font-size-m;
    line-height: $line-height;

    &--align-left,
    &--align-right,
    &--align-center {
        list-style-position: inside;
    }

    &--align-left {
        text-align: left;
    }

    &--align-center {
        text-align: center;
    }

    &--align-right {
        text-align: right;
    }

    .prezly-slate-list {
        margin: 0;
    }

    &--numbered &--numbered {
        list-style-type: lower-latin;
    }

    &--numbered &--numbered &--numbered {
        list-style-type: lower-roman;
    }

    &--numbered &--numbered &--numbered &--numbered {
        list-style-type: numeric;
    }
}
