@import "styles/mixins";
@import "styles/variables";

.prezly-slate {
    &-media {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;

        &--image {
            @media print {
                print-color-adjust: exact;
            }
        }
    }
}
