@import "styles/variables";

.prezly-slate-paragraph {
    margin: $spacing-2 0;
    color: $color-text;
    font-weight: 500;
    font-size: $font-size-m;
    line-height: $line-height;

    &--align-left {
        text-align: left;
    }
    &--align-center {
        text-align: center;
    }
    &--align-right {
        text-align: right;
    }
}
