@import "styles/variables.scss";

.prezly-slate-paragraph {
    margin: $spacing-2 0;
    color: $color-text;
    font-weight: 500;
    font-size: $font-size-m;
    line-height: $line-height;
}

.prezly-slate-paragraph:empty::before {
    content: '\00a0'; // prevent completely empty paragraph from collapsing
}
